@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --dark-gray: #4d4d4e;
  --accent: #5565f9;
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --headerBcgColor: #ffe9d6;
  --headerBtnColor: #ff9a3d;
  --headerFontColor: #ff7a00;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
p {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.section-hero {
  background: var(--headerBcgColor);
  padding: 0 50px;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  height: 100%;
}
/* ----------- Navbar ----------  */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  align-items: center;
}
.navbar-logo {
  display: flex;
  align-items: center;
}
.navbar-links-ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-link {
  list-style-type: none;
  margin: 0 10px;
  font-weight: 700;
  font-size: 1rem;
}
.navbar-link a {
  color: black;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
}
.navbar-link a:hover {
  color: var(--headerFontColor);
}
.navbar-mobile-menu {
  display: none;
}
.navbar-mobile-menu i {
  color: #4d4d4e;
  cursor: pointer;
}
.cart-btn {
  display: flex;
  cursor: pointer;
  background: var(--headerBtnColor);
  border-radius: 35px;
  padding: 2px 12px;
}
.nav-img {
  width: 20px;
  height: 30px;
}
.cart-items {
  top: 13px;
  padding: 0 5px;
  margin-top: 2px;
  border-radius: 30%;
  font-size: 1.2rem;
  color: var(--mainWhite);
}
/* ----------- End of Navbar ----------  */
.hero-wrapper {
  width: 90%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.hero-copy-container {
  width: 40%;
  margin-right: 10px;
}
.hero-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 20px;
  color: var(--headerFontColor);
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
}
.hero-copy {
  margin-bottom: 30px;
  color: #6d6d6d;
  font-size: 14px;
}
.hero-image {
  width: 60%;
}
.hero-image img {
  width: 100%;
}
.hero-form-button {
  width: 200px;
}
.banner-btn {
  background: var(--headerBtnColor);
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  font-weight: bold;
  border: none;
  color: #ececec;
  padding: 12px 40px;
  border: 1px solid var(--primaryColor);
  border-radius: 10px;
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
.hero-promo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-feature-container {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}
.hero-feature-image {
  width: 30px;
  height: 30px;
  background-color: #edf0fd;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: 10px;
}
.hero-feature-copy {
  max-width: 70px;
  font-size: 13px;
  font-weight: 700;
  color: #797979;
}
.hero-feature-image i {
  color: #7c88ff;
}
.hero-promo-ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.hero-promo-items {
  list-style-type: none;
  margin: 0 10px;
}
.hero-promo-items i {
  color: #bfbfbf;
}
@media (max-width: 360px) {
  .footer-text {
    font-size: 0.5rem;
  }
}
@media (max-width: 692px) {
  body {
    display: block;
  }
  .navbar {
    padding: 10px 0;
  }
  .navbar-links-ul {
    display: none;
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .navbar-links-ul .navbar-link {
    display: block;
    border: 1px solid white;
  }
  .active {
    display: block;
  }
  .navbar-mobile-menu {
    display: block;
    /* position: absolute; */
  }
  .navbar-logo img {
    width: 90px;
  }
  .hero-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-form-input {
    width: 100%;
    margin-right: 0;
  }
  .hero-form-button {
    width: 100%;
  }
  .section-hero {
    height: auto;
    width: 100%;
    padding: 0 20px;
    grid-template-rows: 80px 1fr 80px;
  }
  .hero-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .hero-image {
    order: 2;
    width: 100%;
  }
  .hero-copy-container {
    order: 1;
    width: 100%;
    text-align: center;
  }
  .hero-title {
    font-size: 3rem;
  }
  .footer-img {
    width: 60px;
  }
  #footer-text {
    font-size: 0.7rem;
  }
}

@media (min-width: 693px) {
  .footer-img {
    width: 80px;
  }
  #footer-text {
    font-size: 0.7rem;
  }
}

@media (min-width: 854px) {
  .hero-copy-container {
    margin-right: 2rem;
  }
  .hero-form-button {
    width: 300px;
    height: 50px;
  }
  .banner-btn {
    font-size: 1.4rem;
  }
  .hero-title {
    font-size: 3.6rem;
  }
  .about p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .hero-copy-container {
    margin-right: 2rem;
  }
  .hero-title {
    font-size: 5rem;
  }
  .about p {
    font-size: 1.3rem;
  }
}
/* ----------- About ----------  */
.about {
  height: 100%;
  width: 100%;
  background: black;
}
.about p {
  color: white;
  margin: 0 10px 10px 10px;
  padding: 2rem 1.5rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
/* ----------- End of ABout ----------  */

/* ----------- Products ----------  */
.products {
  padding: 4rem 0;
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
}
.img-container:hover .product-img {
  opacity: 0.5;
}
.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
}
/* ----------- End of Products ----------  */
/* ----------- Cart ----------  */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgba(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  /* more than 768px*/
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}
.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/* ----------- Cart Item ----------  */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/* ----------- Cart Item Form ----------  */
.formInput {
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
  margin-top: 10px;
  margin-bottom: 10px;
}
.formInput p {
  font-size: 0.7rem;
  margin-top: -5px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
input {
  margin-top: 5px;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-color: grey;
}
.input-list {
  height: 30px;
  background: var(--headerBcgColor);
  padding: 3px;
}

/* ----------- End of Cart Item Form ----------  */

/* ----------- End of Cart Item ----------  */
.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}
/* ----------- End of Cart ----------  */
/* ----------- Footer ----------  */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
  background: black;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-text {
  color: white;
  letter-spacing: var(--mainSpacing);
  font-weight: 600;
  /* font-size: 0.9rem; */
}

/* ----------- End of Footer ----------  */
